<%= javascript_include_tag params[:controller] %>

<h1 id="sampleData" hidden="hidden">Sample Data</h1>
<table class="table" id="account">
  <thead>
  <tr>
    <th>Account Total</th>
    <th>Accrued Interest</th>
    <th>Available Cash</th>
    <th>Committed Cash</th>
    <th>Outstanding Principal</th>
    <th>Interest Received</th>
    <th>Late Fees Received</th>
    <th>Principal Received</th>
    <th>Total Notes</th>
    <th>Total Portfolios</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td id="accountTotal"></td>
    <td id="accruedInterest"></td>
    <td id="availableCash"></td>
    <td id="infundingBalance"></td>
    <td id="outstandingPrincipal"></td>
    <td id="receivedInterest"></td>
    <td id="receivedLateFees"></td>
    <td id="receivedPrincipal"></td>
    <td id="totalNotes"></td>
    <td id="totalPortfolios"></td>
  </tr>
  </tbody>
</table>
<table class="table" id="portfolio">
  <thead>
  <tr>
    <th>Portfolio ID</th>
    <th>Portfolio Name</th>
    <th>Portfolio Description</th>
  </tr>
  </thead>
  <tbody>
  </tbody>
</table>