<ul class="sidebar-nav">
  <li class="sidebar-brand">
      <a href="/">LendingClub Stats</a>
  </li>
  <li>
    <a href="/">Overview</a>
  </li>
  <li>
    <a href="summary">Summary</a>
  </li>
  <li>
    <a href="notes">Notes</a>
  </li>
</ul>
